<div class="b-example-divider"></div>
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Biblioteca Liceo Camilo Henríquez</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">¡Bienvenido a la biblioteca virtual del Liceo Camilo Henríquez! </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    </div>
</div> 
    <div class="overflow-hidden" style="max-height: 50vh;">
        <div class="container px-5">
            <img src="https://i.postimg.cc/BZ1ddVD1/portadarecorte.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="800" height="600" loading="lazy">
        </div>
    </div>
</div>
<div class="b-example-divider"></div>

<div class="p-5 text-center bg-image rounded-3">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
                <h1 class="mb-3 display-4 fw-bolder">Catálogo de biblioteca</h1>
            <a class="btn btn-outline-light btn-lg" routerLink="/libros" role="button">ir</a>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>
<div class="dark-section" >
    <div class="text-bg p-3">
        <div class="text-bg-light p-3">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-5 mb-1" style="padding-left: 20px;">Día del libro 2023</h1>
                    <p class="col-lg-10 fs-3" style="padding-left: 20px;">Exposición organizada por la profesora de arte Bladimira Meléndez, con motivo de la celebración del <b>Día Internacional del Libro y del Derecho de Autor.</b></p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="1000">
                                <img src="https://i.postimg.cc/zXBNkpMW/IMG-20230421-163321.jpg" class="d-block w-100" alt="...">
                            </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://i.postimg.cc/6p4NkqBp/IMG-20230421-163329.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="https://i.postimg.cc/tJrjjV1Y/IMG-20230421-163336.jpg" class="d-block w-100" alt="...">
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguente</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="info">
    
</div>


